<p id="notice"><%= notice %></p>

<p>
  <strong>Href:</strong>
  <%= @link.href %>
</p>

<p>
  <strong>Visited:</strong>
  <%= @link.visited %>
</p>

<%= link_to 'Edit', edit_link_path(@link) %> |
<%= link_to 'Back', links_path %>
